@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.terms-tags a:hover {
    background: var(--primary);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: var(--theme);
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}